// === COLORS ===
$color-background-main: #e5cf79;
$color-background-secondary: #dccdb8;

$color-heading: #3a3429;
$color-text-base: #0a0909;

$color-button-background: #9a8e55;
$color-button-text: #f4f3f1;


// === FONTS ===
$font-heading: 'DM Serif Display', serif !default;
$font-primary: 'Inter', sans-serif !default;

$font-size-base: 16px;
$font-size-footer: 0.8rem;
$font-size-h3: 1.5rem;
$font-size-h2: 1.6rem;
$font-size-h1: 3.5rem;

//=== SPACING ===
$line-height-base: 1.2;
